.cards {
    display: grid;
    grid-template-columns: repeat(var(--rows), 1fr);
    gap: 1rem;
    user-select: none;
    -webkit-user-select: none;
}

.card {
    padding: 1.25rem;
    border-radius: .75rem;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .1);
    transition: background .1s ease-in-out;
}

.card:hover {
    background: rgba(0, 0, 0, .03);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .15);
}

@media (prefers-color-scheme: dark) {
  .card {
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, .1);
  }

  .card:hover {
    background: rgba(255, 255, 255, .03);
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, .15);
  }
}

.cardTitle {
    font-size: 1.125rem;
}