.pagination {
    display: flex;
    gap: .5rem;
    margin: 2rem 0 0;
    justify-content: center;
    z-index: 2;
    position: relative;
}

.button,
.input {
    padding: .25rem;
    box-shadow: 0px 0px 0px 1px var(--border-color);
    border-radius: .5rem;
}

.button {
    padding: .25rem;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    min-height: 2rem;
    user-select: none;
    -webkit-user-select: none;
    white-space: nowrap;
    font-size: 1rem;
}

.button:not(:disabled):hover {
    background: var(--hover-color);
}

.button:disabled {
    cursor: not-allowed;
}

.button-icon {
    width: 1rem;
    height: 1rem;
}

.input {
    padding: .25rem .5rem;
    width: 6rem;
}

@media screen and (max-width: 768px) {
    .input {
        width: 4rem;
    }
}